In [1]:
import pandas as pd 
import numpy as np

In [2]:

data=pd.read_csv(r"C:\Users\CG-DTE\Desktop\AI\GITHUB\Predicting bankruptcy\low level model analysis\3year.csv")

C:\Users\CG-DTE\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (15,24) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

### above feature set i have gone through some feature engineering steps
#### missing imputation------>gaussian transformation ----->decision tree descritisation------>scaling --->feature selection
#### [['Attr4','Attr5', 'Attr9', 'Attr13','Attr15', 'Attr21', 'Attr22', 'Attr24', 'Attr27', 'Attr34', 'Attr35', 'Attr40','Attr44' 'Attr46', 'Attr56']] i got these features

### but important analysis i found that feature set using these above feature engineering steps giving best result on original data aftter imputation only

In [3]:
year_3=data[['Attr4','Attr5', 'Attr9', 'Attr13','Attr15', 'Attr21', 'Attr22', 'Attr24', 'Attr27', 'Attr34', 'Attr35', 'Attr40','Attr44', 'Attr46', 'Attr56','class']]

In [4]:
k1=year_3.columns.tolist()

In [5]:
#replacing each ? to NAN
for i in k1:
    year_3[i] = year_3[i].replace('?' , np.nan)

<ipython-input-5-2c26c53929e3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year_3[i] = year_3[i].replace('?' , np.nan)

In [6]:
#converting object data into numericals(float64)
year_3=year_3.apply(lambda col:pd.to_numeric(col,errors='coerce'))

In [7]:
year_3

,Attr4,Attr5,Attr9,Attr13,Attr15,Attr21,Attr22,Attr24,Attr27,Attr34,Attr35,Attr40,Attr44,Attr46,Attr56,class
0,1.34800,-28.9820,1.19610,0.142330,592.24,0.99690,0.295100,0.756410,1.97370,0.714530,0.295100,0.212820,58.1090,0.90221,0.163960,0
1,1.62940,2.5952,1.60180,0.126470,829.46,5.08890,0.175710,NaN,44.59300,3.383600,0.044076,0.164060,88.8010,1.03300,0.027516,0
2,3.15990,84.8740,1.00770,0.030966,2094.10,0.67451,0.040610,0.234700,0.32153,0.179600,0.040610,0.844690,96.2510,2.32900,0.007639,0
3,1.78330,-10.1050,1.05090,0.036812,3299.40,0.62795,0.055446,0.569440,0.44844,0.128240,0.055446,0.178260,72.2370,0.90954,0.048398,0
4,1.92790,-58.2740,1.33930,0.187800,602.31,1.20390,0.234930,0.000000,44.94700,2.657400,0.236350,0.013769,51.5850,0.52685,0.176480,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10498,0.51658,-31.8660,1.01200,0.018378,2879.30,0.98388,0.026943,0.002861,NaN,0.046400,0.026943,0.068906,9.3232,0.28983,0.011834,1
10499,2.16980,12.7480,0.94694,0.020928,6875.90,0.72732,-0.043590,-0.034361,NaN,-0.078891,-0.043590,0.201130,39.3100,1.40110,-0.056037,1
10500,0.46526,-145.3100,1.09990,-0.119880,-2324.00,NaN,-0.097358,-0.131860,-2.76940,1.529300,-0.111170,0.013770,37.6420,0.28790,0.144120,1
10501,1.52300,-10.1580,1.01230,0.014470,6789.00,0.75106,0.023370,0.007700,NaN,0.046714,0.023370,0.046953,83.8390,0.90036,0.012186,1
10502,1.00450,-50.2210,2.12680,0.011297,14398.00,1.25140,0.051126,0.019433,0.89387,2.192100,0.050060,0.015050,91.3410,0.35747,0.023492,1

### so here i m building model on entire dataset for , so i m not divinding into train and test dataset , so that i do have ample amount of data to train our model more accurately

In [8]:
predictors=['Attr4','Attr5',  'Attr9', 'Attr13','Attr15', 'Attr21', 'Attr22', 'Attr24',
      'Attr27',  'Attr34', 'Attr35', 'Attr40', 'Attr44', 
      'Attr46', 'Attr56']
target=['class']
X=year_3[predictors]
y=year_3[target]

In [9]:
#X
#y

In [10]:
from sklearn.impute import SimpleImputer

In [11]:
# Now we impute the missing values with SimpleImputer

# create an instance of the simple imputer
# we indicate that we want to impute with the median
mean_imputer = SimpleImputer(strategy='mean',)

# we fit and transform the predictors dataframe
# the imputer will learn the mean of all variables
X_new=mean_imputer.fit_transform(X[predictors])

In [12]:
y_1=y.copy()
X_1=pd.DataFrame(X_new, columns=predictors)

### over sampling through SMOTE is performed

In [13]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state = 2) 
X_res, y_res = sm.fit_resample(X_1, y_1)

In [14]:
len(X_res)

20016

In [15]:

len(y_res)

20016

### Note:- since , i have not splited my data into train-test dataset so my independent and dependent data are in pandas dataframe so in order to implement in XGBoostingClassifier algo in pickled , model will not take dataframe data as input to predict , so i need to convert X(input data ) into numpy array , i m not converting y into numpy array¶

In [16]:
#type(X_res)
type(y_res)

pandas.core.frame.DataFrame

In [17]:
X=np.array(X_res)
y=np.array(y_res)

In [18]:
#type(X)
#type(y)

In [19]:
import seaborn as sns
import xgboost as xgb
# Classification metrices
from sklearn.metrics import accuracy_score,confusion_matrix, classification_report, precision_score,recall_score,f1_score

In [20]:
xgb.__version__

'1.5.0'

### functionalizing the model

In [21]:

from sklearn import model_selection
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from xgboost import XGBClassifier
import pickle

In [22]:
# Functionalize model fittting

def FitModel(X,Y,algo_name,algorithm,gridSearchParams,cv):
    np.random.seed(10)
    x_train,x_test,y_train,y_test = train_test_split(X,Y, test_size = 0.2)
    
    
    grid = GridSearchCV(
        estimator=algorithm,
        param_grid=gridSearchParams,
        cv=cv, scoring='accuracy', verbose=1, n_jobs=-1)
    
    
    grid_result = grid.fit(x_train, y_train)
    best_params = grid_result.best_params_
    pred = grid_result.predict(x_test)
    cm = confusion_matrix(y_test, pred)
   # metrics =grid_result.gr
    print(pred)
    pickle.dump(grid_result,open(algo_name,'wb'))
   
    print('Best Params :',best_params)
    print('Classification Report :',classification_report(y_test,pred))
    print('Accuracy Score : ' + str(accuracy_score(y_test,pred)))
    print('Confusion Matrix : \n', cm)

In [23]:
param ={
            'n_estimators': [50, 100, 500, 1000, 2000],
           
        }
FitModel(X,y,'finalized_model3.pkl',XGBClassifier(),param,cv=5)

Fitting 5 folds for each of 5 candidates, totalling 25 fits

C:\Users\CG-DTE\anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
C:\Users\CG-DTE\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\CG-DTE\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[18:10:35] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[1 1 0 ... 1 0 0]
Best Params : {'n_estimators': 1000}
Classification Report :               precision    recall  f1-score   support

           0       0.99      0.98      0.98      1993
           1       0.98      0.99      0.98      2011

    accuracy                           0.98      4004
   macro avg       0.98      0.98      0.98      4004
weighted avg       0.98      0.98      0.98      4004

Accuracy Score : 0.9845154845154845
Confusion Matrix :
 [[1949   44]
 [  18 1993]]

### Reloading the Saved Model

In [24]:
loaded_model = pickle.load(open("finalized_model3.pkl","rb"))

In [25]:
pred = loaded_model.predict(np.array([[0.51247,90.5840,1.2994,-0.047410,-3551.30,0.49294,-0.165960,1.313400,-5.71820,2.497900,-0.197220,0.047025,21.329,0.220080,-0.151780]]))

In [26]:

print(pred)

[1]

In [27]:
def change (prediction):
    if prediction==1:
        return 'yes'
    else:
        return 'No'

In [28]:
print('some of the features of company:-')
print('current assets / short-term liabilities = 0.51247')
print('[(cash + short-term securities + receivables - short-term liabilities) / (operating expenses - depreciation)] * 365 = 90.5840')
print('sales / total assets = 1.2994')
print('(gross profit + depreciation) / sales = -0.047410')
print('(total liabilities * 365) / (gross profit + depreciation) = -3551.30')
print('sales (n) / sales (n-1) = 0.49294')
print('profit on operating activities / total assets = -0.165960')
print('gross profit (in 3 years) / total assets = 1.313400')
print('profit on operating activities / financial expenses = -5.71820')
print('operating expenses / total liabilities = 2.497900')
print('profit on sales / total assets = -0.197220')
print('(current assets - inventory - receivables) / short-term liabilities = 0.047025')
print('(receivables * 365) / sales = 21.329')
print('(current assets - inventory) / short-term liabilities = 0.220080')
print('(sales - cost of products sold) / sales = -0.151780')

print('\n\n')

print('will company go for bankruptcy ? {}'.format(change(pred)))

some of the features of company:-
current assets / short-term liabilities = 0.51247
[(cash + short-term securities + receivables - short-term liabilities) / (operating expenses - depreciation)] * 365 = 90.5840
sales / total assets = 1.2994
(gross profit + depreciation) / sales = -0.047410
(total liabilities * 365) / (gross profit + depreciation) = -3551.30
sales (n) / sales (n-1) = 0.49294
profit on operating activities / total assets = -0.165960
gross profit (in 3 years) / total assets = 1.313400
profit on operating activities / financial expenses = -5.71820
operating expenses / total liabilities = 2.497900
profit on sales / total assets = -0.197220
(current assets - inventory - receivables) / short-term liabilities = 0.047025
(receivables * 365) / sales = 21.329
(current assets - inventory) / short-term liabilities = 0.220080
(sales - cost of products sold) / sales = -0.151780



will company go for bankruptcy ? yes